<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.skybridge.compass</string>
	</array>
	<key>keychain-access-groups</key>
	<array>
		<string>$(AppIdentifierPrefix)com.skybridge.compass.pro</string>
		<string>$(AppIdentifierPrefix)group.com.skybridge.compass</string>
	</array>
	<!-- 定位权限 - GPS/BDS -->
	<key>com.apple.security.personal-information.location</key>
	<true/>
	<!-- 网络权限 -->
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.network.server</key>
	<true/>
</dict>
</plist>
